[Desktop Entry]
Name=Bluetooth
Comment=Bluetooth obex
Exec=io.elementary.bluetooth -s
Icon=bluetooth
Type=Application
NoDisplay=true
Categories=System;
X-GNOME-Autostart-Notify=false
X-GNOME-AutoRestart=true
X-GNOME-Autostart-enabled=true
OnlyShowIn=Pantheon;
