Source: io.elementary.panel.bluetooth
Section: x11
Priority: optional
Maintainer: elementary, Inc. <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               gobject-introspection,
               libglib2.0-dev,
               libgranite-7-dev (>= 7.0.0),
               libgtk-4-dev (>= 3.12),
               libwingpanel-8-dev,
               meson,
               valac (>= 0.28)
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/panel-bluetooth

Package: io.elementary.panel.bluetooth
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Enhances: io.elementary.wingpanel
Description: WingPanel Bluetooth Indicator
 WingPanel Bluetooth Indicator
